
    <div class="row">
        <form action="/admin/generate-fake-posts" method="post">
        <h1>Create Fake Posts</h1>
        <div class="form-group">
            <input name="amount" type="number">
        </div>
        <button type="submit" class="btn btn-success">Generate</button>
        </form>
    </div>